<% if @user.id == current_user.id %>
<% else %>
    <h3> Viewing activity of <%= @user.display_name %> </h3>
<% end %>

<% @user.sending_transfers.each do |x|%>
    <% if x.status == "pending" %>
        <li> <%= x.receiver.display_name %> requested payment of <%= number_to_currency(x.amount) %> for <%= x.note %> on <%= x.created_at.strftime("%B %d") %> </li>
    <% else %>
        <li> Sent payment to <%= x.receiver.display_name %> of <%= number_to_currency(x.amount) %> for <%= x.note %> on <%= x.updated_at.strftime("%B %d") %> </li>
    <% end %>
<% end %>
