<h3> Viewing profile of <%= @user.display_name %> </h3>

<p> Member since <%= @user.created_at.strftime("%B %d, %Y")%> </p>

<p> Last activity <%= @user.updated_at.strftime("%B %d, %Y")%> </p>

<% if @user.id != current_user.id %>
    <%= link_to "Request payment from #{@user.display_name}", "/users/#{@user.id}/request_payment" %>
    |  
    <%= link_to "Send payment to #{@user.display_name}", "/users/#{@user.id}/send_payment" %>   
    <br>
    |
<% end %>

<%= link_to "View activity of #{@user.display_name}", "/users/#{@user.id}/transfers" %> 
